//  -----------------------------
//  Color Variables
//  -----------------------------

// -- Color definitions --
// Colors here should have a distinct name (avoid light, dark, lightest, etc.)
// Use http://chir.ag/projects/name-that-color/ if you don't have a name
// Should prioritize names from style documents
// Begins with $color-

$color-white: #ffffff;
$color-black: #000000;

// -- Color uses --
// Colors here should use a color above to be asigned to a use in an other module
// Begins with $c-
$color-vulcan: #100e1d;
$color-comet: #585676;
$color-storm-gray: #6e707a;
$color-athens-gray: #e7e7eb;
$color-mirage: #1e213a;
$color-santas-gray: #a09fb1;
$color-paris-daisy: #ffec65;
$color-shuttle-gray: #616475;
$color-tapa: #757571;
$color-royal-blue: #3c47e9;
